<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <servlet>
    <description></description>
    <display-name>IncluirCurso</display-name>
    <servlet-name>IncluirCurso</servlet-name>
    <servlet-class>br.com.cursosja.controlecursoja.controller.IncluirCurso</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IncluirCurso</servlet-name>
    <url-pattern>/IncluirCurso</url-pattern>
  </servlet-mapping>
  <display-name>controlecursoja</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>IniciarAlterarCurso</display-name>
    <servlet-name>IniciarAlterarCurso</servlet-name>
    <servlet-class>br.com.cursosja.controlecursoja.controller.IniciarAlterarCurso</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IniciarAlterarCurso</servlet-name>
    <url-pattern>/IniciarAlterarCurso</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AlterarCurso</display-name>
    <servlet-name>AlterarCurso</servlet-name>
    <servlet-class>br.com.cursosja.controlecursoja.controller.AlterarCurso</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlterarCurso</servlet-name>
    <url-pattern>/AlterarCurso</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExcluirCurso</display-name>
    <servlet-name>ExcluirCurso</servlet-name>
    <servlet-class>br.com.cursosja.controlecursoja.controller.ExcluirCurso</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExcluirCurso</servlet-name>
    <url-pattern>/ExcluirCurso</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IniciarAlterarProfessor</display-name>
    <servlet-name>IniciarAlterarProfessor</servlet-name>
    <servlet-class>br.com.cursosja.controlecursoja.controller.IniciarAlterarProfessor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IniciarAlterarProfessor</servlet-name>
    <url-pattern>/IniciarAlterarProfessor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AlterarProfessor</display-name>
    <servlet-name>AlterarProfessor</servlet-name>
    <servlet-class>br.com.cursosja.controlecursoja.controller.AlterarProfessor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlterarProfessor</servlet-name>
    <url-pattern>/AlterarProfessor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IncluirProfessor</display-name>
    <servlet-name>IncluirProfessor</servlet-name>
    <servlet-class>br.com.cursosja.controlecursoja.controller.IncluirProfessor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IncluirProfessor</servlet-name>
    <url-pattern>/IncluirProfessor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExcluirProfessor</display-name>
    <servlet-name>ExcluirProfessor</servlet-name>
    <servlet-class>br.com.cursosja.controlecursoja.controller.ExcluirProfessor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExcluirProfessor</servlet-name>
    <url-pattern>/ExcluirProfessor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>br.com.cursosja.controlecursoja.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>br.com.cursosja.controlecursoja.controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IncluirTurma</display-name>
    <servlet-name>IncluirTurma</servlet-name>
    <servlet-class>br.com.cursosja.controlecursoja.controller.IncluirTurma</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IncluirTurma</servlet-name>
    <url-pattern>/IncluirTurma</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TurmaDao</display-name>
    <servlet-name>TurmaDao</servlet-name>
    <servlet-class>br.com.cursosja.controlecursoja.model.dao.TurmaDao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TurmaDao</servlet-name>
    <url-pattern>/TurmaDao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastrarUsuario</display-name>
    <servlet-name>CadastrarUsuario</servlet-name>
    <servlet-class>br.com.cursosja.controlecursoja.controller.CadastrarUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastrarUsuario</servlet-name>
    <url-pattern>/CadastrarUsuario</url-pattern>
  </servlet-mapping>
</web-app>